.HomePage__image {
  background-image: linear-gradient(
      to bottom,
      rgba($black, 0.8),
      rgba($black, 0.5)
    ),
    url('/assets/HomePage__sanFrancisco.jpg');
  background-size: cover;

  padding-top: $spacer * 2;
  padding-bottom: $spacer * 1.5;

  color: $white;
}

.HomePage__lead strong {
  color: $orange;
}

.HomePage__leadButton {
  font-size: $font-size-base * 1.5;
}
