.Logo__image {
  width: 48px;
  height: 48px;
  margin-right: $spacer * 1.5;
}

.Logo__text {
  font-weight: bold;
}

.Logo__tinyText {
  font-size: 1px;
}

.Logo__link {
  @include transition();
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
  }
}
