<!DOCTYPE html>
<html>

<head>
  <%- title %>
  <%- meta %>
  <%- link %>
  <%- style %>
  <%- script %>
  <%- noscript %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="icon" type="image/png" href="/assets/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">

  <link rel="icon" href="/assets/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/favicon.png">
  <% if (config.segmentWriteKey) { %>
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("<%- config.segmentWriteKey %>");
      }}();
    </script>
  <% } %>

  <% if (config.googleAnalyticsId) { %>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '<%- config.googleAnalyticsId %>', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  <% } %>
</head>

<body <%- bodyAttributes -%>>
  <div id="react-main"><%- react %></div>

  <script>
    window.__MOBX_STATE__ = <%- storeJSON %>;
    window.__CONFIG__ = <%- JSON.stringify(config) %>;
  </script>
  <% if (scriptTags) { %>
    <%- scriptTags %>
  <% } else { %>
    <script src="/js/main.js"></script>
  <% } %>
</body>

</html>
